#title{
    font-size: 1.75rem; 
    color: rgb(88,88,88); 
    margin-bottom: 1.25rem; 
    margin-top: 4.5rem; 
    text-align: center;
}

.subtitle{
    font-size: 1.25rem; 
    color: #333;
    margin-bottom: 1.25rem; 
    margin-top: 5rem; 
    text-align: center;
}

.subsubtitle{
    font-size: 1.20rem; 
    color: #333;
    margin-bottom: 1.25rem; 
    margin-top: 5rem; 
    text-align: center left;
}

.example{
    font-size: 1rem; 
    color: #333;
    margin-bottom: 3rem; 
    margin-top: 5rem; 
    text-align: center;

}

.squareroot {
    max-width: 50rem; 
    margin: 0 auto;
    padding: 1.25rem; 
    text-align: justify;
    position: relative;
}

.solution{
    font-size: 1rem; 
    line-height: 1.6;
    color: #555;
    margin-left: 5rem;
}

.bold{
    font-weight: bold;
}

.def{
margin-top: 3rem; 
margin-bottom: 2rem; 

}