#title{
    font-size: 1.75rem; 
    color: rgb(88,88,88); 
    margin-bottom: 1.25rem; 
    margin-top: 4.5rem; 
    text-align: center;
}

.subtitle{
    font-size: 1.25rem; 
    color: #333;
    margin-bottom: 1.25rem; 
    margin-top: 5rem; 
    text-align: center;
}

.subsubtitle{
    font-size: 1.20rem; 
    color: #333;
    margin-bottom: 1.25rem; 
    margin-top: 5rem; 
    text-align: center left;
}

.example{
    font-size: 1.13rem; 
    color: #333;
    margin-bottom: 3rem; 
    margin-top: 5rem; 
    text-align: center;

}

.container {
    max-width: 50rem; 
    margin: 0 auto;
    padding: 1.25rem; 
 text-align: left; 
    position: relative;
}

.solution{
    font-size: 0.90rem; 
    line-height: 1.6;
    color: #555;
    margin-left: 5rem;
    margin-bottom: 5rem; 
}

.bold{
    font-weight: bold;

}

.def{
margin-top: 3rem; 
margin-bottom: 2rem; 

}



.sticky-note-yellow {
    position: relative;
    background-color: #feff9c; 
    padding: 2%;
    width: 80%;
    max-width: 30%;
    border-radius: 10px;
    /* box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3); */
    box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.3);
    margin: 0 auto; 
}

.sticky-note-yellow p {
    margin: 0;
    line-height: 1.5;
}


.sticky-note-yellow::before {
    content: '';
    position: absolute;
    top: -0.5rem; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 3rem;
    height: 1rem; 
    background-color: rgba(122, 252, 255, 0.45);
    border-radius: 3px; 
    z-index: 1; 
}

.sticky-note-yellow::after {
    content: '';
    position: absolute;
    top: -0.5rem; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 3rem; 
    height: 1rem; 
    background-color: rgba(122, 252, 255, 0.45); 
    border-radius: 3px; 
    z-index: 1; 
}



.sidenote {
    position: relative;
    background-color: var(--note-bg-color, #fde7d6); /* Default background color */
    padding: 2%;
    width: 80%;
    max-width: 30%;
    border-radius: 10px;
    box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.3);
    font-size: 0.9rem; 
    margin: 0 auto; 
    margin-left: 3%; 
    margin-right: 3%; 
}

.sidenote p {
    margin: 0;
    line-height: 1.5;
}

.sidenote::before,
.sidenote::after {
    content: '';
    position: absolute;
    top: -0.5rem; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 3rem; 
    height: 1rem; 
    background-color: var(--note-marker-color, rgba(249, 211, 163, 0.45)); /* Default marker color */
    border-radius: 3px; 
    z-index: 1; 
}

.sidenote-container {
    display: flex;
    justify-content: space-between; /* To evenly distribute side notes */
    margin-bottom: 1rem; /* Adjust spacing between side notes */
}


.red-note {
    --note-bg-color: #ffcccc;
    --note-marker-color: rgba(255, 0, 0, 0.45);
}

.green-note{
    --note-bg-color: #9bfdce ;
    --note-marker-color: rgba(116,237,75, 0.45);
}

.side-note-container {
    display: flex;
    justify-content: space-between; /* To evenly distribute side notes */
    margin-bottom: 1rem; /* Adjust spacing between side notes */
}

